{% extends 'base.html' %}
{% load bootstrap %}
{% load static %}
{% block title %} Contato {% endblock title %}


{% block header %}
    <header class="masthead" style="background-image: url(/static/img/contact-bg1.jpg)">
        <div class="overlay"></div>
            <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="page-heading">
                        <h1>Envie seu email</h1>
                        <span class="subheading">Tem alguma pergunta?</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock header %}


{% block content %} 
    <div class="container">      
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">      
            <form method="POST" action="{% url 'contato' %}">
                {% csrf_token %}      
                {{form|bootstrap}}
                <br>
                {% if fail %}    
                <div id="fail">Erro ao enviar sua mensagem de E-mail!</div>
                {% elif success %}
                <div id="success">E-mail enviado com sucesso!</div>
                {% endif %}
                <br>
                <div class="form-group">
                <button type="submit" class="btn btn-primary" id="sendMessageButton">Enviar</button>
                </div>
            </form>
                <br>
            </div>
        </div>
    </div>  
{% endblock content %}


